<% content_for:head do%>

  
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css">
  
  <%= javascript_pack_tag "datatable" %>
<%end%>
<% content_for :title, 'Samples' %>
<div class="container">
    <div class="mt-5">
      <h1>
      Samples Information
      <button class = "btn btn-1" style="display:inline" >
        <%= link_to "Database Helper", "tutorial" %>
      </button>
      </h1>
    </div>
  <br/>



    <div id="db-toolbar" class="mb-5">
      <div class="db-tool-nav">
        <div class="btn btn-outline-dark" data-toggle="collapse" data-target="#hidden_helper" aria-expanded="true" aria-controls="hidden_helper"> 
            Filter Columns <i class="fas fa-caret-down"></i>
        </div>
        <div class="btn btn-outline-dark" data-toggle="collapse" data-target="#download_box" aria-expanded="true" aria-controls="download_box">
          Download Table Data <i class="fas fa-caret-down"></i>
        </div>
        <div class="btn btn-outline-dark" data-toggle="collapse" data-target="#export_box" aria-expanded="true" aria-controls="export_box">
          Export samples to Dataset <i class="fas fa-caret-down"></i>
        </div>
      </div>

    <div id='hidden_helper'  class="db-toolbox collapse p-2">
      <% i=2 %>
      <% @attrs.each do |attr| %>
        <% if attr != 'id'%>
          <% if !@vis.include? attr%>
            <button class="toggle-vis btn btn-outline-secondary" data-column='<%=i.to_s%>'> 
              <% attr = attr.gsub(/^n_/, "") %> 
              <% attr = attr.gsub(/^c_/, "") %>
              <% attr = attr.gsub(/^p_/, "") %>
              <% attr = attr.gsub('_', " ") %>

              <th> <%= attr.capitalize %> </th>
            </button>
          <% end %>
          <%i += 1%>
        <%end%>
      <%end%>
    </div>

        <%= form_tag make_selected_file_samples_path, multipart: true do %>
                                                
          <div id="download_box" class="db-toolbox collapse" data-parent="#db-toolbar">
              <div class="form-group p-2">
                <%= button_tag :name => 'download_select', disabled: true, 
                  :class => "s_table_sub btn btn-secondary btn-select download" do %>
                    <i class='fas fa-check-circle'></i> Selected samples
                <%end%>
                <%= button_tag :name => 'download_filter',
                  :class => "s_table_sub btn btn-theme btn-search download", disabled: true do %>
                    <i class='fas fa-filter'></i> Searched samples
                <%end%>
                <%= button_tag :class => "s_table_sub btn btn-pink" do %>
                  <%= link_to samples_path(format: "csv") do %>
                    <i class='fas fa-download'></i> All samples
                  <% end %>
                <%end%>
              </div>
              <p> With over 1,500 samples, please directly download all samples.</p>
          </div>
          <div id="export_box" class="db-toolbox collapse"  data-parent="#db-toolbar">
              <div class="form-group p-2">
                <%= button_tag :name => 'seleted2ds', disabled: true, 
                    :class => "s_table_sub btn btn-select btn-theme export-db" do %>
                  <i class='fas fa-check-circle'></i> Selected samples
                <%end%>
                <%= button_tag :name => 'filter2ds', disabled: true, 
                    :class => "s_table_sub btn btn-search btn-pink export-db" do %>
                  <i class='fas fa-filter'></i> Searched samples
                <%end%>
                <span class="btn ml-3">to your dataset:</span>
                <select id="select_box" class="btn btn-outline-secondary" name="ds_selected">
                  <option value="">--Please choose a dataset--</option>
                      <% @datasets.each do |ds|%>
                        <option value="<%=ds.name%>"> <%=ds.name%></option>
                      <%end%>
                </select>
              </div>
            <p>
              If you do NOT have any dataset yet, please create one here: 
              <%=link_to 'Create new dataset', new_user_dataset_path(:user_id=>@user.id)%>
            </p>
          </div>
        <%end%>

    </div>







  <%= form_tag make_selected_file_samples_path,class:("mb-4"), multipart: true do %>
    <%= content_tag :table, role: :datatable, class: "display", id: "table_page", data: { url: samples_path(format: :json)} do %>
      <p>Click <span style= "color: #006fff;">sample name</span> to view the original link of project。
        Click <span style= "color: #006fff;">details</span> to view the data table, subtype visulization and fraction visulization.
      </p>
      <thead>
            <th>
              <input type="checkbox" class="selectAll" name="selectAll" value="all"> 
            </th>
            <% @sample_attrs.each do |attr| %>
              <% attr = attr.gsub(/^n_/, "") %> 
              <% attr = attr.gsub(/^c_/, "") %>
              <% attr = attr.gsub(/^p_/, "") %>
              <% attr = attr.gsub('_', " ") %>

              <th> <%= attr.capitalize %> </th>
            <% end %>
            <th>details</th>
      </thead>
      <tbody></tbody>
    <% end %>

    
    
  <% end %>


</div>




