<% content_for:head do%>

  
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css">
  <%= javascript_pack_tag "datatable" %>
<%end%>
<% content_for :title, @dataset.name %>

<div class="container">


    <h1 class = "mt-4">
        <%= "samples of #{@dataset.name}" %>
    </h1>

    <div id="db-toolbar" class = "mt-4 mb-4">
        <div class="db-tool-nav">
            <div class="btn btn-outline-dark" data-toggle="collapse" data-target="#edit_box" aria-expanded="true" aria-controls="download_box">
                Edit Dataset <i class="fas fa-caret-down"></i>
            </div>
            <%= link_to download_ds_metadata_user_dataset_path, :class => "s_table_sub btn btn-outline-dark" do %>
                Download dataset <i class='fas fa-download'></i> 
            <%end%>
        </div>
        <div id="edit_box" class="db-toolbox collapse" data-parent="#db-toolbar">
            <div class="p-2">
                <%= button_tag :name => 'delete_sample', :class => "s_table_sub btn btn-primary" do %> 
                <i class='fas fa-minus-circle'></i> Remove selected samples
                <%end%>
                <%= link_to edit_user_dataset_path(@dataset.user, @dataset.id),
                :class => "s_table_sub btn btn-secondary" do %> 
                <i class='fas fa-edit'></i> Edit dataset name
                <%end%>
                <%= link_to user_dataset_path(@dataset.user, @dataset), method: :delete,
                    :class => "s_table_sub btn btn-danger",
                    data: { comfirm: 'Are you sure to delete this dataset?'} do %>
                    <i class="fas fa-trash-alt"></i> Delete dataset
                <%end%>
                <%= link_to  samples_path, :class => "s_table_sub btn btn-info" do %>
                <i class='fas fa-plus-square'></i> Go add samples
                <%end%>
            </div>
        </div>
    </div>

    <%= form_tag delete_sample_user_dataset_path, multipart: true do %>  
        <%= content_tag :table, role: :datatable, class: "display", id: "table_page", data: { url: user_dataset_path(format: :json)} do %>
            <thead>
                <th>
                    <input type="checkbox" class="selectAll" name="selectAll" value="all">
                </th>
                <% @table_headers.each do |attr| %>
                    <% attr = attr.gsub(/^n_/, "") %>
                    <% attr = attr.gsub(/^c_/, "") %>
                    <th> <%= attr %> </th>
                    
                <% end %>
                <th>Action</th>
            </thead>
            <tbody>
            </tbody>
        <% end %>
    <%end%>

    
   
       
    

   
</div>