<% content_for :head do %>
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css">
  <%= javascript_pack_tag "datatable" %>
<% end %>

<% content_for :title, 'Cancer types' %>
<div class="container">
  <div class="mt-5">
    <h1>
    Cancers Information
    <button class = "btn btn-1" style="display:inline" >
      <%= link_to "Database Helper", "tutorial" %>
    </button>
    </h1>
  </div>
  


  <button class = "btn btn-outline-dark btn-6">
    <%= link_to "Download cancers list", cancers_path(format: "csv") %>
  </button>

  <%= form_tag export_selected_cancers_path(format: "csv"), class:(session[:dark] ? "dark-table mb-4 mt-4" : "mb-4 mt-4"),multipart: true do %> 
    <%= content_tag :table, role: :datatable, class: "display", id: "table_page", data: { url: cancers_path(format: :json)} do %>
      <thead>
            <th>
              <input type="checkbox" class="selectAll" name="selectAll" value="all">
            </th>
            <% @attrs.each do |attr| %>
              <%# if attr != 'cover_image' %>
                <th> <%= attr %> </th>
              <%# end %>
            <% end %>
            <th>details</th>
      </thead>
      <tbody>
      </tbody>
    <% end %>
    <%=image_tag "loading_icon.gif", id: "loadingSpinner", class: "row", style: "margin: auto;"%>
  <% end %>

</div>