<% content_for:head do%>

  
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css">
  <%= javascript_pack_tag "datatable" %>
<%end%>

<% content_for :title, 'Cancer '+ @cancer.cancer_name %>

<div class="container">
  <div class='d-flex' >
    
    <h1 class = "mt-5">
      Cancer Information
    </h1>
    <div class = "mt-5"> 
      <button class="ml-2 btn btn-outline-secondary" data-toggle="collapse" data-target="#detail_box" aria-expanded="true" aria-controls="detail_box">
        <i class="fas fa-eye"></i>Details
      </button>
    </div>
  </div>
  <br>
  <%#= link_to 'Edit', edit_project_path(@project) %> 
  <%# <button class = 'btn btn-secondary'><%= link_to 'Back', cancers_path %></button>

  <div id="detail_box" class="collapse show">
    <div class="d-flex">
      <% @short_attrs.each do |attrs| %>
        <div class="w-50">
          <table class="detail-table table table-bordered table-sm">
            <% attrs.each do |attr| %>
              <tr>
                <td class="label"><%= attr %></td>
                <td>
                  <%= @cancer[attr] %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
  </div>
  <br />

  <h2 class = "mt-3">Projects Information</h2>
  <div id="db-toolbar">
    <div class="db-tool-nav">
      <div class="btn btn-outline-dark" data-toggle="collapse" data-target="#hidden_helper" aria-expanded="true" aria-controls="hidden_helper"> 
          Filter Columns <i class="fas fa-caret-down"></i>
      </div>
      <div class="btn btn-outline-dark" data-toggle="collapse" data-target="#download_box" aria-expanded="true" aria-controls="download_box">
        Download Data <i class="fas fa-caret-down"></i>
      </div>
    </div>
    <div id='hidden_helper'  class="db-toolbox collapse p-2">
      <% i=2 %>
      <% @attrs.each do |attr| %>
        <% if attr != 'id'%>
          <% if !@vis.include? attr%>
            <button class="toggle-vis btn btn-outline-secondary" data-column='<%=i.to_s%>'> 
              <%= attr%>
            </button>
          <% end %>
          <%i += 1%>
        <%end%>
      <%end%>
    </div>
    <%= form_tag export_selected_projects_path(format: "csv"), multipart: true do %> 
      <div id="download_box" class="db-toolbox collapse" data-parent="#db-toolbar">
        <div class="form-group p-2">
          <%= button_tag :class => "s_table_sub btn btn-theme" do %>
            <i class='fas fa-check-circle'></i> Selected projects
          <%end%>
          <%= link_to cancer_path(format: "csv"), disabled: true, :class => "s_table_sub btn btn-pink float-right" do %>
            <i class='fas fa-download'></i> All projects
          <%end%>
        </div>
      </div>
    <%end%>
  </div>
  <br/>

  <%= form_tag export_selected_projects_path(format: "csv"), multipart: true do %>  
    <%= content_tag :table, role: :datatable, class: "display", id: "table_page", data: { url: cancer_path(format: :json)} do %>
      <thead>
            <th>
              <input type="checkbox" class="selectAll" name="selectAll" value="all">
            </th>
            <% @sample_attrs.each do |attr| %>
              
              <th> <%= attr %> </th>
              
            <% end %>
            <th>details</th>
      </thead>
      <tbody>
      </tbody>
    <% end %>
    <%= hidden_field_tag 'cancer_id', @cancer.id %>
  <% end %>

</div>



