- use_dark = session[:dark]
#topbar.nav.navbar.navbar-expand-md class='navbar-dark'
  .container

    = link_to root_url, id: 'sidebarCollapse', class: 'navbar-brand'
      =image_tag "ICON SMALL.png", alt: "DOAP", style: "width:25px;height:25px;margin-right:10px;"
      span.font-weight-bold STOMIX 
    button.navbar-toggler type="button" data-toggle="collapse" data-target=".dual-collapse2"
      span.navbar-toggler-icon

    .collapse.navbar-collapse.order-1.order-md-0.dual-collapse2
      ul.navbar-nav.ml-auto
        - caret_icon = 'caret-down'
        li.nav-item
          = link_to root_path, class: 'nav-link' do
            = icon 'fa', 'home'
            | Home
        
        / li.nav-item.dropdown
        /   = link_to '#', class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' } do
        /     = icon 'fa', 'database'
        /     |  Database
        /     = icon 'fas', caret_icon
        /   .dropdown-menu
        /     = link_to '/database/overview/', class: 'dropdown-item' do
        /       / = icon 'fas', 'network-wired'
        /       | Overview
        /     / = link_to cancers_path, class: 'dropdown-item' do
        /     /   / = icon 'fas', 'network-wired'
        /     /   | Cancer Detail
        /     = link_to projects_path, class: 'dropdown-item' do
        /       / = icon 'fas', 'network-wired'
        /       | Project Detail
        /     = link_to samples_path, class: 'dropdown-item' do
        /       / = icon 'fas', 'network-wired'
        /       | Sample Detail
        /     = link_to sections_path, class: 'dropdown-item' do
        /       | Sections Detail 
        /     = link_to slices_path, class: 'dropdown-item' do
        /       | Slice Detail 

        / li.nav-item.dropdown
        /   = link_to '#', class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' } do 
        /     = icon 'fa', 'upload'
        /     |  Analyses
        /     = icon 'fas', caret_icon 
        /   .dropdown-menu 
        /     = link_to "/submit/analyses", class: 'dropdown-item' do
        /       | Modules
            / = link_to "/submit/pipelines", class: 'dropdown-item' do 
            /   | Pipelines

        / li.nav-item.dropdown 
        /   = link_to "#", class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' } do 
        /     = icon 'fa', 'chart-bar'
        /     |  Visualization
        /     = icon 'fas', caret_icon 
        /   .dropdown-menu 
            
        /     = link_to "/visualizer", class: 'dropdown-item' do 
        /       | Demo Visualizations
        li.nav-item
            = link_to '/submit/analyses', class: 'nav-link' do
              = icon 'fas', 'search'
              | Analysis

        li.nav-item
            = link_to '/submit/job-query', class: 'nav-link' do
              = icon 'fa', 'tasks'
              | Workspace
        li.nav-item
            = link_to '/download', class: 'nav-link' do
              = icon 'fas', 'download'
              | Download 
        li.nav-item
            = link_to '/tutorial', class: 'nav-link' do
              = icon 'fa', 'file-alt'
              | Tutorial
        li.nav-item
            = link_to '/contact', class: 'nav-link' do
              = icon 'fa', 'phone'
              | Cite us
        
        

          

