=javascript_pack_tag 'visualizer'
- content_for :title
  | Demo Task
.index-banner
  .container-query
    h1.display-4.font-weight-bold.text-center Demo Task Query

.container-query
  #vapp-demo-query
  .mt-10 style="height:100px;"