<% content_for :head do %>
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css">
  <%= javascript_pack_tag "datatable" %>
<% end %>

<% content_for :title, 'Sections' %>
<div class="container">
    <div class="mt-5">
      <h1>
      Sections Information
      <button class = "btn btn-1" style="display:inline" >
        <%= link_to "Database Helper", "tutorial/database/1" %>
      </button>
      </h1>
    </div>
  <div id="db-toolbar">
    <div class="db-tool-nav">
      <div class="btn btn-outline-dark" data-toggle="collapse" data-target="#hidden_helper" aria-expanded="true" aria-controls="hidden_helper"> 
          Filter Columns <i class="fas fa-caret-down"></i>
      </div>
      <div class="btn btn-outline-dark" data-toggle="collapse" data-target="#download_box" aria-expanded="true" aria-controls="download_box">
        Download Data <i class="fas fa-caret-down"></i>
      </div>
    </div>
    <div id='hidden_helper'  class="db-toolbox collapse p-2">
      <% i=2 %>
      <% @attrs.each do |attr| %>
        <% if attr != 'id'%>
          <% if !@vis.include? attr%>
            <button class="toggle-vis btn btn-outline-secondary" data-column='<%=i.to_s%>'> 
              <% attr = attr.gsub(/^n_/, "") %> 
              <% attr = attr.gsub(/^c_/, "") %>
              <% attr = attr.gsub(/^p_/, "") %>
              <% attr = attr.gsub('_', " ") %>

              <th> <%= attr.capitalize %> </th>
            </button>
          <% end %>
          <%i += 1%>
        <%end%>
      <%end%>
    </div>

    <%= form_tag make_selected_file_sections_path(format: "csv"), multipart: true do %> 
      <div id="download_box" class="db-toolbox collapse" data-parent="#db-toolbar">
        <div class="form-group p-2">
          <%= button_tag :name => 'download_select', disabled: true, 
          :class => "s_table_sub btn btn-theme btn-select download" do %>
            <i class='fas fa-check-circle'></i> Selected sections
          <%end%>
          <%= button_tag :name => 'download_filter',
            :class => "s_table_sub btn btn-theme btn-search download", disabled: true do %>
              <i class='fas fa-filter'></i> Searched sections
          <%end%>
          <%= button_tag :class => "s_table_sub btn btn-pink" do %>
            <%= link_to sections_path(format: "csv") do %>
              <i class='fas fa-download'></i> All sections
            <% end %>
          <%end%>
        </div>
      </div>
    <%end%>
  </div>
  <br/>



    <%= content_tag :table, role: :datatable, class: "display", id: "table_page", data: { url: sections_path(format: :json)} do %>
      <p>Click <span style= "color: #006fff;">project name</span> to view the original link of project.
        Click <span style= "color: #006fff;">details</span> to view the data table, subtype visulization and fraction visulization.
      </p>
      <thead>
            <th>
              <input type="checkbox" class="selectAll" name="selectAll" value="all">
            </th>
            <% @attrs.each do |attr| %>
              <% attr = attr.gsub(/^n_/, "") %> 
              <% attr = attr.gsub(/^c_/, "") %>
              <% attr = attr.gsub(/^p_/, "") %>
              <% attr = attr.gsub('_', " ") %>

              <th> <%= attr.capitalize %> </th>              
            <% end %>
            <th>details</th>
      </thead>
      <tbody>
      </tbody>
    <% end %>
</div>