- content_for :title
  | Contact 
#introduction.container-fluid.container
  .row.d-md-blockrow.cols-xs-space.cols-sm-space.cols-md-space.text-center
    .col-md-5.col-lg-5.B.intro.flip-card
      .flip-card-inner
        .flip-card-front
          #teamDetails
            .cardDetails
              .title
                | Our
                br
                | Team
                br
              .content
                |   Based at the City University of Hong Kong and led by Dr. Shuaicheng LI, we are a multidisciplinary group of first-class, aspiring undergraduate and Ph.D. Most of our members have a strong knowledge base in bioinformatics and computer science, and through our tireless efforts, we have built the TIMEDB immune infiltration platform. This platform provides you with a wealth of standardized immune data and related data analysis for free, making it a valuable aid to your immune research, making it easier to conduct research and empowers your journey of discovery.
          #lscDetails.memberDetails.circle
            .cardDetails
              .title
                | Dr. LI Shuaicheng
              .content
                | Associate Professor
                br 
                | Department of Computer Science
                br
                | Research Interests: Bioinformatics, algorithms, machine learning, omics data analysis.

          #clxDetails.memberDetails.circle
            .cardDetails
              .title
                |Dr. CHEN Lingxi
              .content
                | PostDoc
                br
                | Works in computational biology and cancer study.   
                br
                | Contact: chanlingxi@gmail.com  

          #wyxDetails.memberDetails.circle
            .cardDetails
              .title
                | Dr. WANG Xueying
              .content
                | PhD in Computer science,
                br
                | City University of Hong Kong
                br
                | In charge of the TIMEDB immune infiltration platform.


          #djjDetails.memberDetails.circle
            .cardDetails            
              .title
                | DONG Jiajie
              .content
                | Computer Science
                br 
                | City University of Hong Kong


          #zcxDetails.memberDetails.circle
            .cardDetails
              .title
                | ZHOU Chenxin
              .content
                | School of Business Administration
                br
                | Northeastern University
                br
                | Collecting and collating immunization data
          #wyaDetails.memberDetails.circle
            .cardDetails
              .title
                | WANG Yian
              .content
                | Computer Science
                br 
                | City University of Hong Kong


        .flip-card-back
          #teamDetailsBack
            .cardDetails
              .title
                |Our
                br
                |Team
                br
              .content
                | Based at the City University of Hong Kong and led by Dr. Shuaicheng LI,
                
                | we are a multidisciplinary group of first-class, aspiring undergraduate and Ph.D.
                
                | Most of our members have a strong knowledge base in bioinformatics and computer science,
                
                | and through our tireless efforts, we have built the TIMEDB immune infiltration platform.
                
                | This platform provides you with a wealth of standardized immune data and related data analysis for free,
                
                | making it a valuable aid to your immune research, making it easier to conduct research and empowers your journey of discovery.
       
          #moreInfoBack
            =image_tag "ICON BIG.png"



    .col-md-7.col-lg-7.G
      .row.h-100 
        #lsc.col-md-4.col-lg-4.B.h-30.pb-3.member_photo
          =image_tag "lishuaicheng.jpg", class: "rounded-circle"
          h6 LI Shuaicheng
        #clx.col-md-4.col-lg-4.B.h-30.pb-3.member_photo
          =image_tag "chenlingxi.jpg", class: "rounded-circle"
          h6 CHEN Lingxi
        #wyx.col-md-4.col-lg-4.B.h-30.pb-3.member_photo
          =image_tag "wangxueying.jpg", class: "rounded-circle"
          h6 WANG Xueying
        / .col-md-3.col-lg-3.B.h-30.pb-3.member_photo
        #djj.col-md-4.col-lg-4.B.h-30.pb-3.member_photo
          =image_tag "jiajie.png", class: "rounded-circle"
          h6 DONG Jiajie
        #zcx.col-md-4.col-lg-4.B.h-30.pb-3.member_photo
          =image_tag "zhouchenxin.jpg", class: "rounded-circle"
          h6 ZHOU Chenxin
        #wya.col-md-4.col-lg-4.B.h-30.pb-3.member_photo
          =image_tag "wangyian.jpg", class: "rounded-circle"
          h6 WANG Yian 

=javascript_pack_tag 'contact_info'

#visitor_stats.container-fluid.container
  .row
      .col-md-4
        script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5vg76xu3pen&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"
        script type="text/javascript" src="//rf.revolvermaps.com/0/0/0.js?i=5vg76xu3pen&amp;d=3&amp;p=0&amp;b=0&amp;w=268&amp;g=2&amp;f=arial&amp;fs=12&amp;r=0&amp;c0=362b05&amp;c1=375363&amp;c2=000000&amp;ic0=0&amp;ic1=0" async="async"
        
      .col-md-8
        script type="text/javascript" src="//rf.revolvermaps.com/0/0/7.js?i=5vg76xu3pen&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;br=20&amp;sx=0" async="async"
        
    




  

/ #test_visitor.container-fluid.container
/   .row
/     .col-md-4
/       script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5f6qsnsn0wg&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"
/       script type="text/javascript" src="//rf.revolvermaps.com/0/0/0.js?i=5f6qsnsn0wg&amp;d=3&amp;p=0&amp;b=0&amp;w=293&amp;g=2&amp;f=arial&amp;fs=12&amp;r=0&amp;c0=362b05&amp;c1=375363&amp;c2=000000&amp;ic0=0&amp;ic1=0" async="async"
/     .col-md-8
/       script type="text/javascript" src="//rf.revolvermaps.com/0/0/7.js?i=5f6qsnsn0wg&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;sx=0" async="async"
  
  


  
