<% content_for :title, 'Contact' %>

<div class="container container-fluid">
    <hr>
    <div class="row">
        <div class="col-md-5">
            <%= image_tag "lishuaicheng.jpg", class: "pro_image"%>
        </div>
        <div class="col-md-6 pro_content ">
            <h1> Dr.LI Shuaicheng</h1>
            <p>
                Associate Professor
                <br> 
                Department of Computer Science
                <br>
                Research Interests: Bioinformatics, algorithms, machine learning, omics data analysis.
            </p>
        </div>
    </div>
    <h1>Our Team</h1>
    <div class="row">
        <div class="col-md-4 member_image">
            <%= image_tag "chenlingxi.jpg", class: "w-100"%>
            <div class="member_content">
                <h4> Dr. CHEN Lingxi</h4>
                <p>PostDoc</p>
                <p>Works in computational biology and cancer study.  </p> 
                <p>Contact: chanlingxi@gmail.com </p>
            </div>
        </div>
        <div class="col-md-4 member_image">
            <%= image_tag "wangxueying.jpg", class: "w-100"%>
            <div class="member_content">
                <h4> Dr. WANG Xueying</h4>
                <p>PhD in Computer science,</p>
                <p>City University of Hong Kong </p> 
            </div>
        </div>
        <div class="col-md-4 member_image">
            <%= image_tag "jiajie.png", class: "w-100"%>
            <div class="member_content">
                <h4> DONG Jiajie</h4>
                <p>Computer Science</p>
                <p> City University of Hong Kong </p> 
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 member_image">
            <%= image_tag "zhouchenxin.jpg", class: "w-100"%>
            <div class="member_content">
                <h4>ZHOU Chenxin</h4>
                <p>School of Business Administration</p>
                <p> Northeastern University </p> 
                <p>Collecting and collating immunization data</p> 
            </div>
        </div>
        <div class="col-md-4 member_image">
            <%= image_tag "wangyian.jpg", class: "w-100"%>
            <div class="member_content">
                <h4> WANG Yian</h4>
                <p>Computer Science</p>
                <p> City University of Hong Kong </p> 
            </div>
        </div>
    </div>

    <br>
    <div class="row">
            <div class="col-md-4">
                <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5vg76xu3pen&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"></script>
                <script type="text/javascript" src="//rf.revolvermaps.com/0/0/0.js?i=5vg76xu3pen&amp;d=3&amp;p=0&amp;b=0&amp;w=268&amp;g=2&amp;f=arial&amp;fs=12&amp;r=0&amp;c0=362b05&amp;c1=375363&amp;c2=000000&amp;ic0=0&amp;ic1=0" async="async"></script>
            </div>
            <div class= "col-md-8">
                <script type="text/javascript" src="//rf.revolvermaps.com/0/0/7.js?i=5vg76xu3pen&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;br=20&amp;sx=0" async="async"></script>
            </div>

        </div>
    </div>
</div>