<% content_for :head do %>
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css">
  <%= javascript_pack_tag "download" %>
<% end %>
<% content_for :title, 'Download' %>
<div class="container">
    <br><br>
    <h2> Gene expression data and meta data </h2>

  <table id="table1" class='table table-striped table-sm'>
    <thead>

            <th>project</th>
            <th>Gene expression data (<%= @csv_test['number']['RNA']%>)</th>
            <th>meta data (<%= @csv_test['number']['clinical']%>)</th>
            <th>scaled data (<%= @csv_test['number']['rna_immu']%>)</th>

    </thead>
    <tbody>
        <% @projects.each do |p| %>
        <tr>

            <td> <%=link_to("#{p.project_name}", p.original_link)%></td>

            <td> 
            <%if @csv_test[p.project_name]['RNA']=='true'%>
            <%= link_to("#{p.project_name}_RNA.csv","/public/data/RNA/RNA_#{p.project_name}.csv")%>
            <% else %>No data<% end %>
            </td>

            <td> 
            <%if @csv_test[p.project_name]['clinical']=='true'%>
            <%= link_to("#{p.project_name}_clinical.csv","/public/data/clinical/sample/Clinical_#{p.project_name}.csv")%>
            <% else %>No data<% end %>
            </td>

            <td> 
            <%if @csv_test[p.project_name]['rna_immu']=='true'%>
            <%= link_to("#{p.project_name}_scaled_rna.csv","/public/data/immuneRegulator/immuReg_#{p.project_name}.csv")%>
            <% else %>No data<% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <br><br>
    <h2> Single Method Deconvolution Results </h2>
        <table id="table2" class='table table-striped table-sm'>
            <thead>
                    <% @attrs2.each do |attr| %>
                    <% if attr =='Project'%>  
                    <th> <%= attr %> </th>
                    <% else %>
                    <th> <%= attr %> (<%=@csv_test['number'][attr]%>)</th>

                    <% end %>

                    <% end %>
            </thead>
            <tbody>
                <% @projects.each do |p| %>
                    <tr>
                        <td> <%=link_to("#{p.project_name}", p.original_link)%></td>
                        <% @attrs2.each do |attr| %>
                        <% if attr != 'id' and attr !='Project'%>  
                        <td>     
                            <%if @csv_test[p.project_name][attr]=='true'%>
                            <%= link_to("#{p.project_name}_#{attr}.csv","/public/data/cell_data/#{attr}/#{p.project_name}_#{attr}.csv")%>
                            <% else %>No data 
                                <%if @msg_test[p.project_name+attr ] %>
                                    <%= @msg_test[p.project_name+attr]["reason"]%>
                                <% end %>
                            <% end %>
                        </td>
                        <% end %>

                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
          <br><br>

    <h2>Comparing Deconvolution Results</h2>
    <table id="table3" class='table table-striped table-sm'>
        <thead>
            
                <th>Project</th>
                <th>All_method (<%= @csv_test['number']['all']%>)</th>
                <th>Consensus Cell (<%= @csv_test['number']['Consensus']%>)</th>
        </thead>
        <tbody>
            <% @projects.each do |p| %>
                <tr>
                    <td> <%=link_to("#{p.project_name}", p.original_link)%></td>

                    <td> 
                        <%if @csv_test[p.project_name]['all']=='true'%>
                        <%= link_to("#{p.project_name}_all.tsv","/public/data/all_method/#{p.project_name}_all.tsv")%>
                        <% else %>No data<% end %>
                    </td>
                    <td> 
                        <%if @csv_test[p.project_name]['Consensus']=='true'%>
                        <%= link_to("#{p.project_name}_consensus.csv","/public/data/cell_data/#{p.project_name}_Consensus.csv")%>
                        <% else %>No data
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>   
      <br><br>

    <h2>C1-C6 Subtype</h2>
    <table id="table4" class='table table-striped table-sm'>
        <thead>
            <th>Project</th>
            <th>C1-C6 Subtype (<%= @csv_test['number']['subtype']%>)</th>

        </thead>
        <tbody>
            <% @projects.each do |p| %>
                <tr>
                    <td> <%=link_to("#{p.project_name}", p.original_link)%></td>

                    <td> 
                        <%if @csv_test[p.project_name]['subtype']=='true'%>
                        <%= link_to("#{p.project_name}_c1_c6.csv","/public/data/subtype/c1_c6/project/#{p.project_name}_c1_c6.csv")%>
                        <% else %>No data
                                <%if @msg_test[p.project_name+'C1-C6' ] %>
                                    <%= @msg_test[p.project_name+'C1-C6']["reason"]%>
                                <% end %>
                        
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
