//link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
//script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
//script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
//link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"

meta name="google-site-verification" content="sDvz2pV67iDffAY1lcrWd5CLenIORwxX3YAwLKlZWZA"

script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'
//script src="http://nkunited.de/jquery/plugins/svg3dtagcloudV2/js/jquery.svg3dtagcloud.min.js"
link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext"




-use_dark = session[:dark]
- content_for :title
  | STOMIX 

.container 
  section#intro_text.heading 
    .container
      h1
        span.em STOMIX 
      br
      h2 
        i Tumor Immune MicroEnvironment Deconvolution Database
      br
      p
        | TIMEDB is an online human tumor immune micro-environment RNA-Seq deconvolution database with comprehensive analysis and interactive visualization.
        br
        br
        | TIMEDB has three key features:

        ul
          li 
            | Curated tumor immune microenvironment 
            =link_to "database", "/database/overview"
            |  of over 
            strong.number_text =@samples_num
            span.noun_text  samples 
            |  and 
            strong.number_text =@projects_num
            span.noun_text  projects
            |  across 
            strong.number_text =@cancers_num
            span.noun_text  cancers
            | , including gene expression data, clinical data, TIME estimation result data of 
            strong.number_text 10
            |  state of the art tools, C1-C6 subtyping data, and so on.
          li 
            strong.number_text =21
            span.noun_text  online tumor immune microenvironment 
            =link_to "analyses.", "/submit/analyses"
          li
            | Comprehensive interactive visualizations of RNA expression, TIME cell fraction estimation, patient subtyping, survival, and correlation data from database or analysis. 
              
        

  
  section#platform_highlight
    .container
      h2
        | Focus
      #immuHighlight.carousel.slide data-ride="carousel"
          ol.carousel-indicators
            li.active data-target="#immuHighlight" data-slide-to="0"
            li data-target="#immuHighlight" data-slide-to="1"
            li data-target="#immuHighlight" data-slide-to="2"

          .carousel-inner
            .carousel-item.active
              =image_tag "database.png", :alt=>"Human Gut Metagenomics.png", class: "d-block w-100"
            .carousel-item
              =image_tag "analysis.png", :alt=>"Human Gut Metagenomics.png", class: "d-block w-100"
            .carousel-item
              =image_tag "visualization.png", :alt=>"Human Gut Metagenomics.png", class: "d-block w-100"

          = link_to "#immuHighlight", class: "carousel-control-prev", 'data-slide' =>  'prev', role: "button"
            i.fa.fa-arrow-left style="font-size: 60px" 
            span.sr-only
              | Previous
          = link_to "#immuHighlight", class: "carousel-control-next", 'data-slide' =>  'next', role: "button"
            i.fa.fa-arrow-right style="font-size: 60px" 
            span.sr-only
              | Next




  section#data_tables
    h2 
      | Select Tables 
      

  section#function_card
    .container
      //i.fa.fa-chevron-down
      h2
        | Function


      #cards_wrapper.container-fluid.container
        .row.cols-xs-space.cols-sm-space.cols-md-space
          .col-lg-5.mb-4
            .icon
              .icon_img
                =link_to '/database/overview'
                  =image_tag (use_dark ? 'icons darkmode12.png' : 'icons brightmode12.png'), :alt=>"Human Gut Metagenomics.png"
          
          .col-lg-7.mb-4.
            h4.text-left.function-h4
              | Human tumor immune micro-environment
              =link_to " database", "/database/overview"
            p.text-left.function-p
              | Curated databse with over 
              strong.number_text =@samples_num
              span.noun_text  samples 
              |  of RNA-seq across 
              strong.number_text =@cancers_num
              span.noun_text  cancers
              |  , immune infliatration fraction, immune subtype annotation data.
            .row.justify-content-center.redirection-function
              
                .text-center
                  .btn.btn-1.m-2
                    =link_to "Overview", "/database/overview"
                  .btn.btn-1.m-2
                    =link_to "Cancers", "cancers"
                  .btn.btn-1.m-2
                    =link_to "Projects", "projects"
                  .btn.btn-1.m-2
                    =link_to "Samples", "samples"

            
            
          .col-lg-7.mb-4.
            h4.text-left.function-h4
              | Automatic
              =link_to " analyses", "/submit/analyses"
            p.text-left.function-p
              strong.number_text 10
              |  online tumor immune microenvironment 
              span.noun_text analysis category 
              strong.number_text =21
              span.noun_text  analyses.
            #analysis-redirection.redirection-function
              - @function_level1.each_with_index do |cat, idx|
                .level1.btn.btn-1.m-2 data-toggle="collapse" href="#level2#{idx}" aria-expanded="false" aria-controls="level2#{idx}" =cat
              - @function_level1.each_with_index do |cat, idx| 
                div.collapse id="level2#{idx}"
                  - @function_level2[idx].each do |aname|
                    .btn.btn-3.m-2
                      =link_to aname, "submit/analysesCategory?cname=#{aname}"
          .col-lg-5.mb-4
            .icon
              .icon_img
                =link_to '/submit/analyses'
                  =image_tag (use_dark ? 'icons darkmode42.png' : 'icons brightmode42.png'), :alt=>"Human Gut Metagenomics.png"

  #word-cloud.text-center
  =javascript_pack_tag 'word_cloud'
