<head>
<meta name="google-site-verification" content="sDvz2pV67iDffAY1lcrWd5CLenIORwxX3YAwLKlZWZA">

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext">
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/searchpanes/2.0.2/js/dataTables.searchPanes.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchpanes/2.0.2/css/searchPanes.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.4.0/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css">
  <%= javascript_pack_tag "index_table" %>
  <%= javascript_pack_tag "datatable" %>


</head>

<% content_for :title , "STOMIX"%>
<script>
    function djj(){

    }
    $('.disease_tag').on('click' ,(e)=>{
        alert('djj')
    });
</script>
<div class="container"> 
    <section id="intro_text" class="heading">
        <div class="container">
            <h1>
                <span class="em">STOMIX</span>
            <h1>
            <br>
            <h2>
                <i> Tumor Immune MicroEnvironment Deconvolution Database </i>
            </h2>
            <br>
            <p>
                TIMEDB is an online human tumor immune micro-environment RNA-Seq deconvolution database with comprehensive analysis and interactive visualization.
                <br>
                <br>
                TIMEDB has three key features:

                <ul>
                <li>
                    Curated tumor immune microenvironment 
                    <%=link_to "database", "/database/overview"%>
                    of over 
                    <strong class="number_text"><%=@samples_num%></strong>
                    <span class="noun_text">  samples </span> 
                    and 
                    <strong class="number_text"> <%=@projects_num%></strong>
                    <span class="noun_text">  projects</span>
                    across 
                    <strong class="number_text"> <%=@cancers_num%></strong>
                    <span class="noun_text">  cancers</span>
                    , including gene expression data, clinical data, TIME estimation result data of 
                    <strong class="number_text"> 10 </strong>
                    state of the art tools, C1-C6 subtyping data, and so on.
                </li>
                <li>
                    <strong class="number_text"> <%=21%> </strong>
                    <span class="noun_text">  online tumor immune microenvironment </span> 
                    <%=link_to "analyses.", "/submit/analyses"%>
                </li>
                <li>
                    Comprehensive interactive visualizations of RNA expression, TIME cell fraction estimation, patient subtyping, survival, and correlation data from database or analysis.
                </li>
                </ul>
            </p> 
        <div>
    </section>


   <!-- <section id="data_tables">

        <div class="dropdown">
        <button class="btn btn-outline-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Disease <i class="fas fa-caret-down"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% @all_disease.each do |d|%>
            <a class="dropdown-item disease_tag" > <%=image_tag( "other.png", class: "rounded-circle z-depth-2",style: "width: 25%") %> <%=d.disease_name %> </a>
            <% end %>
        </div>
        </div>

        <hr>

        <div class="container">
            <%= content_tag :table, role: :datatable, class: "display ", id: "table_page", data: { url: root_path(format: :json , name: 'Heart')} do %>
            <thead>
                    <th>
                    <input type="checkbox" class="selectAll" name="selectAll" value="all">
                    </th>
                    <% @sample_attrs.each do |attr| %>
                    <% attr = attr.gsub(/^n_/, "") %> 
                    <% attr = attr.gsub(/^c_/, "") %>
                    <% attr = attr.gsub(/^p_/, "") %>
                                
                    <% attr = attr.gsub('_', " ") %>

                    <th> <%= attr.capitalize %> </th>
                    
                    <% end %>
                    <th>details</th>
            </thead>
            <tbody>
            </tbody>
            <% end %>
        </div>


    </section>-->

    <hr>
    
    <div id="index_table">
    </div>
    <hr>
</div>

  
  