<% content_for:head do%>
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css">
  <%= javascript_pack_tag "datatable" %>
<%end%>

<% content_for :title, 'Project '+ @project.project_name  %>

<div class="container mt-5 mb-8">
  <div class='d-flex'>
    
    <h1>
      Project Information
    </h1>

      <div> 
      <button class="ml-2 btn btn-outline-secondary" data-toggle="collapse" data-target="#detail_box" aria-expanded="true" aria-controls="detail_box">
        <i class="fas fa-eye"></i>Details
      </button>
    </div>
    
  </div>
  <br>

  <div id="detail_box" class="collapse show">
    <div class="d-flex">
      <% @short_attrs.each do |attrs| %>
        <div class="w-50">
          <table class="detail-table table table-bordered table-sm">
            <% attrs.each do |attr| %>
              <tr>
              <% attr1 =attr%>

              <% attr = attr.gsub(/^n_/, "") %> 
              <% attr = attr.gsub(/^c_/, "") %>
              <% attr = attr.gsub(/^p_/, "") %>
                          
              <% attr = attr.gsub('_', " ") %>
                <td class="label"><%= attr.capitalize %></td>
                <td>
                  <%=@project[attr1]? @project[attr1] : "NA" %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
    <table class="detail-table table table-bordered table-sm">
      <% @link_attrs.each do |attr| %>
        <tr>
              <% attr1 =attr%>

              <% attr = attr.gsub(/^n_/, "") %> 
              <% attr = attr.gsub(/^c_/, "") %>
              <% attr = attr.gsub(/^p_/, "") %>
                          
              <% attr = attr.gsub('_', " ") %>
          <td class="label"><%= attr.capitalize %></td>
          <td>
            <% if @project[attr1] != nil && @project[attr1].starts_with?('http') %>
              <% @project[attr1].split(";").each do |link| %>
                <%= link_to link, target: 'blank'%>
              <%end%>
            <% else %>
              <%=@project[attr1]? @project[attr1] : "NA" %>
            <%end%>
          </td>
        </tr>
        <% end %>
      </table>
    <table class="detail-table table table-bordered table-sm">
      <% @long_attrs.each do |attr| %>
        <tr>
              <% attr1 =attr%>

              <% attr = attr.gsub(/^n_/, "") %> 
              <% attr = attr.gsub(/^c_/, "") %>
              <% attr = attr.gsub(/^p_/, "") %>
                          
              <% attr = attr.gsub('_', " ") %>
          <td class="label"><%= attr.capitalize %></td>
          <td><%=@project[attr1]? @project[attr1] : "NA" %></td>
        </tr>
      <% end %>
    </table>
  </div>
  
  <br />


  

  <div class = "container pt-3">
    <ul class="nav nav-tabs" id="project-datils-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="section-table-tab" data-toggle="tab" href="#section-details" role="tab" aria-controls="section-details" aria-selected="false">Sample Details</a>
      </li>
    </ul>

    <div class="tab-content" id="sectionDeailsTabContent">
      <div class="tab-pane fade show active" id="section-details" role="tabpanel" aria-labelledby="section-table-tab">


        <div id="db-toolbar" class="mb-5">
          <div class="db-tool-nav">

            <div class="btn btn-outline-dark" data-toggle="collapse" data-target="#download_box" aria-expanded="true" aria-controls="download_box">
              Download Table Data <i class="fas fa-caret-down"></i>
            </div>

          </div>

          <%= form_tag make_selected_file_samples_path, multipart: true do %>
            <%= hidden_field_tag 'project_id', @project.id %>
              <div id="download_box" class="db-toolbox collapse" data-parent="#db-toolbar">

                    <div class="form-group p-2">
                      <%= button_tag :name => 'download_select', disabled: true, 
                        :class => "s_table_sub btn btn-theme btn-select download" do %>
                        <i class='fas fa-check-circle'></i> Selected samples
                      <%end%>
                      <%= button_tag :name => 'download_filter',
                        :class => "s_table_sub btn btn-search btn-pink download", disabled: true do %>
                        <i class='fas fa-filter'></i> Searched samples
                      <%end%>
                      <%= button_tag :class => "s_table_sub btn btn-secondary" do %>
                        <%= link_to "/public/data/clinical/sample/Clinical.csv" do %>
                          <i class='fas fa-download'></i> All samples
                        <% end %>
                      <%end%>
                    </div>
                  <p> With over 1,500 samples, please directly download all samples.</p>
                </div>
          <%end%>
        </div>

                          

                          
        <%= form_tag make_selected_file_samples_path, class: "mb-5", multipart: true do %>  
          <%= content_tag :table, role: :datatable, class: "display", id: "table_page", data: { url: project_path(format: :json)} do %> 
            <thead>
              <th>
                <input type="checkbox" class="selectAll" name="selectAll" value="all">
              </th>
              <% @table_headers.each do |attr| %>
              <% attr = attr.gsub(/^n_/, "") %> 
              <% attr = attr.gsub(/^c_/, "") %>
              <% attr = attr.gsub(/^p_/, "") %>
              <% attr = attr.gsub('_', " ") %>

              <th> <%= attr.capitalize %> </th>
                                      
              <% end %>
              <th>details</th>
                                    
            </thead>
            <tbody>
            </tbody>
          <% end %>
          <%=image_tag "loading_icon.gif", id: "loadingSpinner", class: "row", style: "margin: auto;"%>
        <% end %>


      </div>

    </div>
    
  </div>

  <br>
  <br>
  <br>

</div>
