<template>
    <div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="dropdown">
                <button class="btn btn-outline-dark btn-sel" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img v-if="disease_selected != 'All Disease' " class="rounded-circle z-depth-2 img-cover"  :src="'public/data/image/'+disease_selected+'.png'" >
                    <p class="drop-content">{{disease_selected}}</p>
                    <i class="fas fa-caret-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item drop-tags" @click="updated_disease($event)" id="All Disease">All Disease</a>
                    <a class="dropdown-item drop-tags" v-for="disease in all_disease" @click="updated_disease($event)"  :id="disease.disease_name"> 
                        <img class="rounded-circle z-depth-2 img-cover" :src="'public/data/image/'+disease.disease_name+'.png'" >
                        <p class="drop-content"> {{disease.disease_name}} </p>
                    </a>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="dropdown">
                <button class="btn btn-outline-dark btn-sel" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img v-if="species_selected != 'All Species' " class="rounded-circle z-depth-2 img-cover"  :src="'public/data/image/'+species_selected+'.png'" >
                    <p class="drop-content">{{species_selected}}</p>
                    <i class="fas fa-caret-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <a class="dropdown-item drop-tags" @click="updated_species($event)" id="All Disease">All Species</a>
                    <a class="dropdown-item drop-tags" v-for="species in all_species" @click="updated_species($event)"  :id="species.species_name"> 
                        <img class="rounded-circle z-depth-2 img-cover" :src="'public/data/image/'+ species.species_name+'.png'" >
                        <p class="drop-content"> {{species.species_name}} </p>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <table id="example1" class="display" style="width:100%">
            <thead>
                <tr>
                   <th v-for ="attr in sample_vis">
                    {{formal_attirbute(attr)}}
                   </th>
                   <th>Details</th>
                   <th>Analysis</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for = "sample in all_sample">
                    <td v-for="attr in sample_vis">
                            {{sample[attr]}}
                    </td>
                    <td>
                        <button class='btn btn-1'><a :href="'/samples/'+sample.id" >Show</a> </button>
                    </td>
                    
                    <td>
                        <button class='btn btn-1'><a href='/submit/analysis'>Analysis</a> </button>
                    </td>
                </tr>

            </tbody>

        </table>
        <br><br>
    </div>
</template>

<script lang = 'ts'>




export default {
    data() {
        return {

            // cancers: window.gon.cancers,
            disease_selector: window.gon.disease_selector,
            disease_selected: 'All Disease',
            all_sample: window.gon.all_sample,
            sample_attribute: window.gon.sample_attribute,
            sample_vis: window.gon.sample_vis,
            all_disease: window.gon.all_disease,
            table_sample:null,

            species_selector: window.gon.species_selector,
            species_selected: 'All Species',
            all_species: window.gon.all_species,
            

            }
    },
    //设置默认值
    created() {
        // this.updated();
        this.all_sample_now = this.all_sample;

    },
    mounted() {
        this.createtable();

    },
    methods: {
        formal_attirbute(a){
        let temp=  a.replace('c_','').replace('n_','').replace('p_','').replace('_',' ')
        return  temp.slice(0, 1).toUpperCase() + temp.slice(1);
        },

        createtable(){
            this.table_sample= $('#example1').DataTable({
                columnDefs: [
                    {
                        searchPanes: {
                            show: false
                        },
                        targets: [0,1,2,3,7,8,9,10]
                    },
                    {
                    }
                ],
                searchPanes: {
                    layout: 'columns-2'
                },
                // dom: 'Plfrtip',
                scrollX: true,
                destroy: true,
                fixedColumns: true,
                fixedColumns: {
                    leftColumns: 3,
                    rightColumns: 2,
                },

                rowCallback: function(row, data) {
                    $('td:eq(1)', row).css('background-color', '#e9ecef');
                        // $('td:eq(3)', row).css('background-color', '#e9ecef');
                        //$('td:eq(4)', row).css('border-style', 'outset');
                },
                
            });
        },

        updated_disease(a){
            // this.table_sample.draw();
            this.disease_selected = a.currentTarget.id;
            if(this.disease_selected!="All Disease"){

                this.table_sample.columns(6).search(this.disease_selected).draw();

            }else{

                this.table_sample.columns(6).search('').draw();
                // this.table.column.search('Brain').draw();
            }
            
            
        },
        updated_species(a){
            // this.table_sample.draw();
            this.species_selected = a.currentTarget.id;
            if(this.species_selected!="All Species"){

                this.table_sample.columns(4).search(this.species_selected).draw();

            }else{

                this.table_sample.columns(4).search('').draw();
                // this.table.column.search('Brain').draw();
            }
            
            
        },
    },
    computed:{

    }
}
</script>

<style scoped lang = "scss">
    .btn-sel{
        width:150px;
        display: flex;
        align-items: center;
        justify-content: center;
        height:45px;
    }
    .drop-tags{
        width:150px;
        height:45px;
        display: flex;
        align-items: center;
        justify-content: center;
        .img-cover{
            margin-left: -20px;
        }

    }
    .drop-content{
        margin: 0px;
        margin-left: 10px;
    }
    .img-cover{
        margin: 0;
        height: 30px;
    }
    .dropdown-menu{
        width: 150px;
    }
</style>
