<template>
    <div>
        

        <div id = "slice_spot_2" class = "container Block">
            <div class="row description">
              <h4>{{this.section_name}}</h4>
            </div>

            <div id = "slice_spot_2_Block">

                <div class="row veBlock">
                    <div class="md-col-9 vis vizBlock" id = "slice_spot_2-Vis">
                    </div>
                    <div id="slice_spot_2-editor" class = "md-col-3 v-editor">
                        <OvizEditor :config="slice_spot_2_conf" :editorWidth = "280"/>
                    </div>
                </div>
            </div>

        </div>
        <div>
            
        </div>
    </div>
</template>
<script lang = 'ts'>
import BootstrapVue from 'bootstrap-vue';
import OvizEditor from "oviz-editor";

import axios from "axios";
import { event } from "crux/dist/utils";
import {viz_mode} from "page/visualizers";
import FileSaver from 'file-saver'
import JSZip from 'jszip'

import DropDownSelect from "page/builtin/dropdown-select.vue";

import {init as spot_map_3d }from "viz/spot_map_3d"
import {init as spot_map_2d }from "viz/spot_map_2d"
import {init as embedding_map_2d }from "viz/embedding_map_2d"

// import {init as fractionGroupBoxplot} from "viz/static_fraction_grouped_boxplot"
// import {init as fractionLandscape} from "viz/static_fraction_comparedPlot"
// import {init as fractionLandscape2} from "viz/static_fraction_comparedPlot2"
// import {init as fractionHeatmap} from "viz/static_fraction_heatmap"
// import {init as fractionPie} from "viz/static_fraction_Pie"

Vue.use(OvizEditor);
Vue.use(BootstrapVue);

Vue.component("dropdown-select", DropDownSelect)
import Vue from 'vue';
// selector 展示出来的数据
export default {
    data() {
        return {
            // cancers: window.gon.cancers,
            section_name: window.gon.section_name,
            slice_spot_2_conf: {},
        }
    },
    //设置默认值
    created() {
    event.rpcRegisterReceiver("getVue3", () => this);
    },
    mounted() {
        this.all_viz();
    },
    methods: {
        pieViz(){
            
            var path3 = "/public/data/demo_data/10xDemoAMB_stxBrain_anterior_slice1_de_markers.csv"
            var path1 = "/public/data/demo_data/10xDemoAMB_stxBrain_anterior_slice1_normalized_counts.csv"
            var path2 = "/public/data/demo_data/10xDemoAMB_stxBrain_anterior_slice1_metadata.csv"
            var path4 = "/public/data/demo_data/10xDemoAMB_stxBrain_anterior_slice1_tissue_lowres_image.png"

            // var path1 = "/public/data/demo_data/1.csv"
            // var path2 = "/public/data/demo_data/2.csv"
            // var path3 = "/public/data/demo_data/3.csv"
            // var path4 = "/public/data/demo_data/4.png"

            // var path1 = "/data/demo/human_breast/spatial_embedding_v2.csv"
            // var path2 = "/data/demo/human_breast/tissue_lowres_image.png"
            document.getElementById("slice_spot_2_Block").style.display = "block";
            spot_map_2d("#slice_spot_2-Vis", path1,path2,path3,path4,"#slice_spot_2-editor", "slice_spot_2_viz");
            // embedding_map_2d("#fraction-pieVis", path1,path2,path3,path4,"#fraction-pie-editor", "fraction_pie_viz");

        },


        all_viz() {
            this.pieViz();
        },

    },
    computed:{

        
    }
}
</script>

<style scoped lang = "scss">
/* .viz {
    padding: 50px;
    position: relative;
    box-shadow: 0 0 64px darken(#dee2e6, 5%)
} */
.d-btn{
    width: 20em;
}
.veBlock {
    position: relative !important;
    box-shadow: 0 0 64px darken(#dee2e6, 5%)
}

.vizBlock {
        overflow-y: scroll;
        overflow-x: scroll;
        
        padding: 2em;
        margin-top: 5%;
        margin-bottom: 0px !important;
        padding-bottom: 0px;
}

#fraction-heatmapVis {
    height: 1000px;
}

    
/* .v-editor {
    position: fixed !important;
    top: 30px;
    right: 50px;
    z-index:20;
    transition: all 0.3s;
} */

.v-editor {
    position: absolute;
    top: 10px;
    transition: all 0.3s;
    right: 10px;
    z-index: 1 !important;
}
.veBlock{
    height: 600px;
    margin: 0px;
    overflow: hidden;
}
</style>
