<% content_for:head do%>
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css">
<%end%>

<% content_for :title, 'Slice '+ @slice.slice_name  %>

<div class="container mt-5 mb-8">
  <div class='d-flex'>
    
    <h1>
      Slice Information
    </h1>
    <div> 
      <button class="ml-2 btn btn-outline-secondary" data-toggle="collapse" data-target="#detail_box" aria-expanded="true" aria-controls="detail_box">
        <i class="fas fa-eye"></i>Details
      </button>
    </div>
  </div>
  <div id="detail_box" class="collapse show">
    <div class="d-flex">
      <% @short_attrs.each do |attrs| %>
        <div class="w-50">
          <table class="detail-table table table-bordered table-sm">
            <% attrs.each do |attr| %>
              <tr>
              <% attr1 =attr%>
              <% attr = attr.gsub(/^n_/, "") %> 
              <% attr = attr.gsub(/^c_/, "") %>
              <% attr = attr.gsub(/^p_/, "") %>
                          
              <% attr = attr.gsub('_', " ") %>
                <td class="label"><%= attr.capitalize %></td>
                <td>
                  <%=@slice[attr1]? @slice[attr1] : "NA" %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
  </div>
  <br />


  

  <div class = "container pt-3">
    <ul class="nav nav-tabs" id="project-datils-tab" role="tablist">


      <li class="nav-item">
          <a class="nav-link active" id="graph_1-tab" data-toggle="tab" href="#graph_1" role="tab" aria-controls="graph_1" aria-selected="true">Spot Map 2D</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="graph_2-tab" data-toggle="tab" href="#graph_2" role="tab" aria-controls="graph_2" aria-selected="false">Embedding Map 2D</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="graph_3-tab" data-toggle="tab" href="#graph_3" role="tab" aria-controls="graph_3" aria-selected="false">Spatial Interaction</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="graph_4-tab" data-toggle="tab" href="#graph_4" role="tab" aria-controls="graph_4" aria-selected="false">Spatial Correlation</a>
      </li>
    </ul>

    <div class="tab-content" id="sectionDeailsTabContent">

      <div class="tab-pane fade show active" id="graph_1" role="tabpanel" aria-labelledby="graph_1-tab">  
        <div id="sc_graph_1">
        </div>

      </div>
      <div class="tab-pane fade" id="graph_2" role="tabpanel" aria-labelledby="graph_2-tab">  
        <div id="sc_graph_2">
        </div>

      </div>
      <div class="tab-pane fade" id="graph_3" role="tabpanel" aria-labelledby="graph_3-tab">  
        <div id="sc_graph_3">
        </div>

      </div>
      <div class="tab-pane fade" id="graph_4" role="tabpanel" aria-labelledby="graph_4-tab">  
        <div id="sc_graph_4">
        </div>

      </div>
    </div>
    
  </div>

  <br>
  <br>
  <br>

</div>
