/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
    
html, body
    font-size: 14px
    background-color: #f8f9fa !important

.fa, .fas, .far, .fab
    margin-right: 0.5em

@import "partials/bootstrap-ex"
@import "font-awesome-sprockets"
@import "font-awesome"

#cookies-eu-banner
    background: $light-theme
    // border-bottom-style: rigid
    border-bottom: 2px ridge $gray-800
    padding: 25px 25px

    color: $white
    position: fixed
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    //height: 20px
    border-radius: 30px
    box-shadow: 0 0 32px darken($gray-300, 5%)
    width: 40%
    
    z-index: 30
    a
        text-decoration: underline
        color: #78b7ca
        font-style: italic
    button
        margin-left: 1rem
        background-color: $gray-700
        &:hover
            background-color: $gray-200
    //     margin: 10px
    //     border: none
    //     color: $white
    //     background-color: rgba(0,0,0,0.7)



// .index-banner
//     color: $gray-100
//     background: image-url("texture-1.jpg")
//     background-size: cover
//     padding: 8rem 0
//     &.sm
//         padding: 3rem 0
//     .lead
//         width: 75%
#user-setting:hover .tooltiptext 
    opacity: 1

// .tooltiptext
//     opacity: 0
//     transition: opacity 0.5s
//     width: 30rem
//     background-color: black
//     color: #fff
//     text-align: left
//     padding: 0.2rem 0
//     margin: 25px 0
//     border-radius: 10px    
//     position: absolute
//     z-index: 10
.tooltip-inner 
    max-width: 500px
    /* If max-width does not work, try using width instead */
    width: 400px !important
    min-width: 300px
    text-align: left !important
    padding: 0.2rem 0
    margin: 25px 0
    border-radius: 10px #f8f9fa
    background-color: #f8f9fa !important
    color: black !important
    border: solid 1px #aaadb1 !important


#wrapper
    min-height: calc(100vh - 70px - 250px)
    background-color: #f8f9fa

#disable-fill
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    opacity: 0.3
    background: black
    z-index: 10
    display: none

a.no-link:hover
    text-decoration: none

.clickable
    cursor: pointer




//global container setting
.wide-container
    width: 90%
    margin: auto

.modal-content
  z-index: 10000000 !important

//global button setting
.btn-doap
    border-radius: 10rem !important

.btn-xlg
    padding: 1rem 1.75rem
    font-size: .85rem
.btn-secondary, .btn-primary, .btn-theme, .btn-pink
    color: #f8f9fa !important
    a
        color:  #f8f9fa !important
.btn-theme
    background-color: $light-theme !important
.btn-pink
    background-color: #cc97a5 !important

.btn-primary
    // theme blue
    background-color: #253959 !important
    
.btn-1
    color: #fff !important
    background-color: $theme !important
    border-radius: 40px !important
    a
        color: white !important

    &:hover
        color: $theme !important
        background-color: #fff !important
        a
            color: $light-theme !important
    

.btn-2
    // 蓝色 仲夏夜之梦
    // background-color: #9ce3e7 !important
    background-color: #9ce3e7 !important
    border-radius:  40px !important
    border-color: #9ce3e7 !important
    color: #fff !important
    &:hover
        color: #9ce3e7 !important
        background-color: #fff !important
.btn-3
    // pink
    background-color: #df8380 !important
    border-radius: 40px !important
    color: #fff !important
    border-color: #df8380 !important

    &:hover
        color: #df8380 !important
        background-color: #fff !important
.btn-4
    // light green
    // background-color: #36af77 !important
    background-color: #36af77 !important
    border-radius:  40px !important
    color: #fff !important
    border-color: #36af77 !important

    &:hover
        color: #36af77 !important
        background-color: #fff !important
.btn-5
    background-color: #343a40 !important
    border-radius:  40px !important
    color: #fff !important
    &:hover
        color: #343a40 !important
        background-color: #fff !important
.btn-6
    a 
        color: #253959 !important
        &:hover
            color: #fff !important

.btn-vivid-shadow
    &.btn-primary
        box-shadow: 0 0 24px transparentize($primary, .6)
    &.btn-secondary
        box-shadow: 0 0 24px transparentize($secondary, .6)
    &.btn-success
        box-shadow: 0 0 24px transparentize($success, .6)
    &.btn-warning
        box-shadow: 0 0 24px transparentize($warning, .6)
    &.btn-info
        box-shadow: 0 0 24px transparentize($info, .6)
    &.btn-danger
        box-shadow: 0 0 24px transparentize($danger, .6)

.badge-finished
    background-color: #36478e !important
.badge-failed
    background-color: #69708e !important
.badge-running
    background-color: #939393 !important

#alerts
    position: relative
    z-index: 1000
    .global-alert
        margin: 0
        border-radius: 0
    .progress-bar
        transition: width 5s linear

$nav-height: 70px
#topbar
    background-color: $theme
    height: $nav-height
    span
        color: white
    .nav-link
        padding: 1rem 1rem
        color: white
    .dropdown-menu
        box-shadow: 0 0 8px rgba(0,0,0,.1)
    .dropdown-toggle
        &::after
            content: none
        .fa, .fas
            margin: 0 0 0 .25rem


#db-toolbar
    position: relative
.db-toolbox
    border: 1px solid $gray-400
    border-radius: 2px
    position: absolute !important
    top: 2.5em
    z-index: 100
    background-color: rgba(255,255,255,0.95)
    p
        color: $gray-700
        font-style: italic
        text-indent: 1em
    .form-group
        margin-bottom: 0.5em
        text-align: left
        flex-wrap: wrap
        width: 100%
        position: relatvie
        label
            font-weight: bold
        select
            width: 16.5em
            text-align: center 
        .s_table_sub
            width: 12em
            text-align: left
        // .btn-primary
        //     @include button-variant($all, darken($all, 7.5%), darken($all, 10%), lighten($all,5%), lighten($all, 10%), darken($all,30%))
        // .btn-select
        //     color: #fff !important
        //     @include button-variant($select, darken($select, 7.5%), darken($select, 10%), lighten($select,5%), lighten($select, 10%), darken($select,30%))
        // .btn-search
        //     color: #fff !important
        //     @include button-variant($search, darken($search, 7.5%), darken($search, 10%), lighten($search,5%), lighten($search, 10%), darken($search,30%))

/* for datatable */
th
    border-top: 1px solid #ddd
    border-right: 1px solid #ddd
.DTFC_LeftHeadWrapper table thead th.select-checkbox
    border-left: 1px solid #ddd
.DTFC_RightHeadWrapper table thead th
    border-right: 1px solid #ddd
td
    //border-left: 1px solid #ddd
    border-right: 1px solid #ddd

#table_page
    border-left: 1px solid #ddd
    border-right: 1px solid #ddd




    

/* for sample/project details*/
table.detail-table
  &.table
      margin-bottom: 0
  td
    text-indent: 0.5em
  .label
    font-weight: bold
    width: 220px

.popover
    width: 600px
    margin: auto

.carousel-control-next, .carousel-control-prev
    filter: invert(100%)
    color: red

.carousel-control-next-icon, .carousel-control-prev-icon
    size: 10px

.container-query
    margin-left: 7%;
    margin-right: 7%;
th
    white-space: nowrap;
@import "./*"
