// Place all the styles related to the Database controller here.
// They will automatically be included in application.css.
// You can use Sass here: https://sass-lang.com/

#cancer_icon img 

@import "partials/variables"


body.database
    background-color: #f8f9fa
    //#wrapper
        //margin: 2em
    h4 
        padding-top: 1em
        color: $theme
    #cancer_icon
        //box-shadow: 0 0 64px darken(#dee2e6, 5%)


        //padding: 2em 1em 0 1em
        //border: 1px solid #aaa
        h2
            padding: 2em 1em 0 1em
        #cancerIcons
            padding: 2em
            position: relative;
            &.collapse:not(.show) 
                display: block
                height: 49em
                overflow: hidden
                #test
                    display: block;
                //-moz-box-shadow: inset 0 -32px 32px -32px #000000
                //-webkit-box-shadow: inset 0 -32px 32px -32px #000000
                
            &.collapsing
                height: 50em

            
            h1
                vertical-align: middle
                padding-top: 35%
                color: $theme
            h4 
                padding-top: 1em
                color: $theme
            img
                //box-shadow: 0 0 32px darken(#dee2e6, 5%)
                width: 100%


        #collapseButton
            padding: .5em
            font-size: 1.5em
            // background: #d8dce0
            //box-shadow: inset 0 -100px 64px -32px #000000
            //box-shadow: rgb(255, 255, 255) 0px -40px 64px 32px
            // transition: box-shadow 0.3s ease-in-out 0s
            width: 100%;
            text-align: center;
            border-radius: 4px;


        #test
            display: none;
            position: absolute;
            inset: 500px 0 0;
            background: linear-gradient(rgba(255, 255, 255, 0), #f8f9fa);

        #collapseButton.collapsed:after 
            content: 'Show more cancers'

        #collapseButton:not(.collapsed):after 
            content: 'Show less'

            
    .vizBlock
        // overflow-y: scroll
        overflow-x: scroll
        //padding: 2em
        margin-top: 5%
        margin-bottom: 5%
    .veBlock
        box-shadow: 0 0 64px darken(#dee2e6, 5%)

    .navbar
        z-index: 1
    .navbar.navbar-light
        //border-bottom: 1px solid #aaa
    .ov-number
        text-align: center
        font-weight: bold
        color: $theme
        font-size: 3em

    .ov-type
        text-align: center
        font-weight: bold
        font-size: 1em

    .select-bar
        margin-bottom: 2em
    #V0B1 > svg
        transform: scale(0.9) translateY(-100px)

    .select-title
        font-size: 16px
        margin-bottom: 6px



