// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass here: https://sass-lang.com/

@import "partials/variables"

#wrapper
  background-color: #f8f9fa

.table_cell 
  max-height: 100px
  overflow: auto
  width: 100%

.tab-pane
    
  margin-top: 3em
  // .vizBlock
  //   //width: 250px
  //   overflow-y: scroll
  //   overflow-x: scroll
  //   //padding: 2em
  //   margin-top: 5%
  //   margin-bottom: 5%

  //   box-shadow: 0 0 64px darken(#dee2e6, 5%)

select
  width: 100px
  height: 30px
  text-align: left
  padding: 5.25px 10.5px
  margin-top: 12px

input.s_table_sub
  //background-color: $gray-300
  //margin-right: 1em
  //margin-bottom: 1em

.download_span
  //margin-right: 2em
  //margin-bottom: 1em
    
input.toggle-vis
  margin-right: 1em
  margin-bottom: 0.5em

table.DTFC_Cloned thead
  background-color: #f8f9fa 


.clicked
  background-color: red

th
  background-color: #f8f9fa

#dropdownAttributes
  width: 250px

.dropdown-menu
  width: 250px

#loadingSpinner
  width: 50%
  height: 50%

#hidden_helper
  .btn
    margin: 5px

#download_box
  .btn
    margin: 5px
.navitem
  width: 21em !important;
.navdiv
  width: auto !important;

#project-datils-tab
  font-size: 1.2em
  .nav-link
    &.active
      background-color: $theme !important
      color: white !important
    &:not(.active)
      color: $theme !important
    

