// Place all the styles related to the tutorial controller here.
// They will automatically be included in application.css.
// You can use Sass here: https://sass-lang.com/

@import "partials/variables"

.title
    font-size: 5rem
    color: $theme !important
    font-weight: bold
img
    background-color: transparent !important
    margin-bottom: 2%


.fa-backward
    color :$theme !important
    &:hover
        color: #af88f7 !important
    

.tutorial
    .test
        position:relative
        background-color: #F8F9FA
        width: 70%
        margin-left: 30%
    
    .test input
        width:  100%
        z-index: 999
    
    .test button
        position: absolute
        width: 18%
        height: 100%
        right: 0%
        border-color: #6c757d
        border-radius: 30px 
        outline:none
        background-color: #F8F9FA
    

    .search
        border: solid
        border-color: #6c757d
        border-radius: 30px 
        padding: 2%
        width: 100%
        color: #6c757d
        position: absoulte
        left:   0
    
    // .fa-search
    //         color: #6c757d
    //         position: absolute
    //         right: 10%
    //         bottom: 25%
        
        
    .fa-chevron-down
        color: $theme
    

    


.page
    display: flex
    flex-direction: column
    p
        margin-bottom: 0px
        font-size: 20px


.page-image
    width: 90%


body.tutorial
    #sidebar
        background-color: #f8f9fa //theme gray
        position: sticky !important
        top: 70px !important
        height: 1000px
        overflow: hiden
        margin-left: -300px
        transition: .5s


        &.active //use button to toggle this class
            min-width: 350px
            max-width: 350px
            margin-left: 0
            & + #main
                transition: .5s
                max-width: calc(100% - 250px)
            
            .text-right
                font-size: 2em !important
                position: fixed
                left: 200px
                top: 80px
                transition: .5s
        &:not(.active)
            .text-right
                font-size: 2em !important
                position: fixed
                left: 20px
                top: 80px
                transition: .5s
    
        .sidebar-content
            
            position: absolute
            overflow: auto
            // border-top: 1px solid $gray-300

            #pipeline-nav-item
                margin-top: 4em

            p
                margin-left: 1.5em
                
                margin-top: .5em
                margin-bottom: 1em
                font-size: 1.2em
                padding-top: 1em
                padding-bottom: 1em
                
            a
                color: $light-theme !important

            .active
                border-right: .5em solid $theme
                background-color: #bec2c9

    #side-tutorial-bar
        // margin-left: 20px !important;
        padding-left: 0;
        list-style: none
        li
            padding-left: 70px;


    // .sidebar-nav
    //     position: relative !important;
    .sidebar-tutorial-toggle
        .active 
            display: none;
        .active1
            border-right: .5em solid $light-theme
            background-color: #bec2c9
    .analysis-table
        td
            vertical-align: middle !important;
            border: 1px solid #dee2e6 !important;

    .headers
        li
            font-size: 20px
        
        p
            font-size: 20px
        
        b
            color: #00008b
    
    .team-member-container
        position: relative
        flex-basis: 50%
        min-width: 430px
        padding: 1.75rem 2rem
        &:hover
            .team-member
                transform: translate(0,-20px)
            
            .team-member-links
                transform: translate(0,20px)
            
    

    .team-member-links
        position: absolute
        transition: all .2s ease-in
        height: 56px
        bottom: 1.25rem
        left: 2rem
        right: 2rem
        padding-top: 6px
        background: #314893
        border-radius: 0 0 4px 4px
        display: flex
        justify-content: center
        align-items: center
        a
            color: #fff
        

    .team-member
        position: relative
        transition: all .2s ease-in
        border-radius: 4px
        border: 1px solid #adb5bd
        padding: 2.5rem
        height: 100%
        background: linear-gradient(120deg,#EFEFEF,#adb5bd)
        box-shadow: 0 0 16px #adb5bd
        display: flex
        align-items: center
        .avatar
            width: 112px
            flex-basis: 112px
            flex-shrink: 0
            height: 112px
            border: 1px solid #fff
            border-radius: 57px
            margin: 0 15px
            box-shadow: 0 0 4px #fff
        
        .intro
            text-align: left
            padding-left: 1em
            color: #333
        