// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials/variables"


@import "partials/variables"




.nav-content

#introduction
    padding-top: 10em
    margin-bottom: 5em

    .row
        display: flex
        align-items: center
        
    img
        width: 100%
        
    .member_photo
        img
            box-shadow: 0 0 64px darken(#dee2e6, 5%)
        h6
            padding-top: 1em
    
    .title
        line-height: 38px
        color: $theme
        font-size: 3em
        font-weight: bold
        margin-bottom: 0.5em
        padding-top: 12.5%

    .content
        padding-left: 10%
        padding-right: 10%

    
    #teamDetails
        //background: $gray-300
        display: block
        .title
            padding-top: 10%
            text-align: center
            //vertical-align: middle

    .memberDetails
        color: $white
        display: none
        background: $gray-900
        width: 375px
        height: 350px
        border-radius: 50%
        text-align: center
        justify-content: center;
        align-items: center;
        .title
            padding: 0;
            color: $theme
            text-align: center  

    .flip-card
        background-color: transparent
        perspective: 2000px
        padding-bottom: 35%
        .flip-card-inner
            width: 100%
            height: 100%
            position: relative
            transform-style: preserve-3d
            transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1)
            
        &:hover .flip-card-inner
            transform: rotateY(180deg)
        .flip-card-front, .flip-card-back
            position: absolute
            width: 100%
            height: 100%
            -webkit-backface-visibility: hidden
            backface-visibility: hidden
        .flip-card-back
            transform: rotateY(180deg)
        #teamDetailsBack
            display: none



#wrapper
    background-color: #f8f9fa

.cancer-link
    fill: $light-theme !important
.ds-link
    fill: #1cb0b6 !important
.download-link
    fill: #ee7e7d


.doap-account-card
    margin: 6rem auto
    color: $gray-800
    border: 1px solid $gray-300
    background: $gray-100
    border-radius: 1rem
    width: 350px
    max-width: 100%
    box-shadow: 0 0 32px $gray-900
    .doap-account-section
        padding: 1rem 2rem
    .doap-account-header
        color: $gray-600
        text-transform: uppercase
        text-align: center
        padding: 1.5rem 0
        border-bottom: 1px solid $gray-300
        h2, h3, h4
            font-size: 1.5rem
            margin: 0
    .doap-account-links
        padding: 1rem 2rem 2rem 2rem
        .doap-account-link
            a
                font-size: 0.9rem
                color: $gray-600


footer.page-footer
    z-index: 999999999;
    // height: $footer-height
    padding: 20px 0
    background: $theme
    color: $white
    ul
        padding-left: 0
        list-style: none
    a
        color: #697A89
    h4
        margin: 20px 0
    hr
        border-bottom: 1px solid darken($gray-900, 5%)
        border-top: 1px solid darken($gray-900, 5%)
    p, ul, h4
        color: $white



body.welcome
    #wrapper
        display: flex
    .navbar
        z-index: 1
    .navbar.navbar-light
        //border-bottom: 1px solid #aaa
    #main
        margin: auto
        overflow-y: scroll
        overflow-x: hidden
        width: 100vw

    #sidebar
        background-color: #f8f9fa //theme gray
        position: sticky !important
        top: 70px !important
        height: 1000px
        overflow: hiden
        margin-left: -300px
        transition: .5s
        width: 200px

        &.active //use button to toggle this class
            min-width: 250px
            max-width: 250px
            margin-left: 0
            & + #main
                transition: .5s
                //max-width: calc(100% - 250px)
            
            .text-right
                font-size: 2em !important
                position: fixed
                left: 200px
                top: 80px
                transition: .5s
        &:not(.active)
            .text-right
                font-size: 2em !important
                position: fixed
                left: 20px
                top: 80px
                transition: .5s
    
        text-align: center
        display: flex
        justify-content: center
        .sidebar-content
        
            position: absolute
            overflow: auto
            // border-top: 1px solid $gray-300
            .fas.fa-bars
                z-index: 999999
            h2
                color: $theme
                margin-top: 3em
            p 
                margin-bottom: 0
            .fa-arrow-down
                font-size: 2rem !important
            .fa-arrow-down
                margin: 0
            .sidebar_button
                background: $theme
                border: solid
                border-radius: 40px
                color: #fff
                padding: 5%
                margin-left: 20%
                margin-right: 20%
            .sidebarIconBlock
                margin-top: 2em
                margin-bottom: 2em
                
                img 
                    //margin-top: 3em
                    width: 80% !important
                    margin: auto










    section
        &.heading
            background-image: url("welcomeBGImage.png")
            background-repeat: no-repeat
            background-size: cover
            background-position: center center
            position: relative
            padding: 10rem 0 12rem 0
            color: $black
            h1
                font-size: 4rem
                font-weight: 300
                line-height: 1.2
                color: $black
                .em
                    font-size: 5rem
                    color: $theme
                    font-weight: bold
            h2
                color: #000
            strong.number_text
                color: #6B315e
                font-size: 1.5em
                //text-transform: uppercase
                //font-family: verdana
                //font-weight: 300
                // text-shadow: 1px 1px 1px #dda7a7, 1px 2px 1px #a18d8d, 1px 3px 1px #ad9797, 1px 4px 1px #c3a6a6, 1px 5px 1px #c3a6a6, 1px 6px 1px #c3a6a6, 1px 7px 1px #c3a6a6, 1px 8px 1px #c3a6a6



            span.noun_text
                color: #6B315e
            p
                color: $black
                font-size: 1.6em
                
            li
                color: $black
                font-size: 1.5em

                

            .index-bg
                position: absolute
                z-index: 0
                bottom: 0
            .container
                position: relative
                z-index: 2
            .index-lead
                font-size: 1.5rem
                font-weight: bold
            .index-more
                width: 90%
                margin: 2rem 0 4rem 0
        &.focus
            // @include media-breakpoint-down(md)
            .container
                width: 100%
                max-width: none
            .doap-index-card
                margin-bottom: 2rem
            padding: 6rem 0 4rem 0
            h2
                font-size: 3.5rem
            .focus-item
                position: relative
                height: 400px
                .focus-body
                    padding: 2rem
                    position: absolute
                    bottom: 0
                    z-index: 10
                    background: $white
                .focus-bg
                    width: 100%
                    height: 250px
                    object-fit: cover
        &.features
            padding: 5rem 0 6rem 0
            background: #ffffff !important
            .feature-container
                margin-top: 4rem
            .feature-item
                position: relative
            h2
                font-size: 3.5rem
            .icon
                position: relative
                margin-bottom: 2rem
                color: $gray-700
                font-size: 6rem
                text-shadow: 0 2px 2px $gray-200
                .fa, .fas
                    margin: 0
                &:after
                    content: ''
                    position: absolute
                    width: 20%
                    left: 40%
                    bottom: -1rem
                    height: 2px
                    background: $gray-400
        
        &#function_card
            width: 100%
            height: auto
            background-color: #f8f9fa
            color: #000000
            padding: 2em
            .container
                text-align: center
            strong.number_text
                color: #ee7e7d
                font-size: 1.5em
                // text-transform: uppercase
                // font-family: verdana
                // font-weight: 300
                // text-shadow: 1px 1px 1px #dda7a7, 1px 2px 1px #a18d8d, 1px 3px 1px #ad9797, 1px 4px 1px #c3a6a6, 1px 5px 1px #c3a6a6, 1px 6px 1px #c3a6a6, 1px 7px 1px #c3a6a6, 1px 8px 1px #c3a6a6


            span.noun_text
                color: #ee7e7d
            .redirection-function
                a
                    color: white !important
                a:hover
                    color: $light-theme !important
            
            
            #cards_wrapper
                
                width: 100%
                padding: 1em

                .row
                    display: flex
                    align-items: center
                    .function-p
                        font-size: 1.5em
                    .function-h4
                        font-size: 1.8em
                    ul
                        font-size: 1.5em
                    

                    .icon
                        //border-radius: 50px
                        //box-shadow: 0 0 32px darken($gray-300, 5%)
                        display: table-cell
                        height: 100%
                        width: 25%
                        overflow: hidden
                        font-size: 13px
                        padding: 2em
                        
                        .icon_img
                            width: 100%
                            img
                                // display: block
                                width: 100%
                                // height: 10vw
                                // object-fit: cover
                        h5 
                            padding: 10px
                            width: 100%

        &#platform_highlight 
            width: 100%
            height: auto
            background-color: #f8f9fa
            color: #000000
            padding: 2em
            .container
                text-align: center
                .carousel
                    width: 100%
                    //position: relative
                    padding-top: 5em
                    ol.carousel-indicators
                        //display: block
                        top: 1em
                        //justify-content: center
                        // display: flex
                        // align-items: center
                        //margin: auto
                        //padding-left: 15px
                        //padding-right: 15px
                        li
                            //display: inline-block
                            background-color: $light_theme
                            //width: 4%
                            //height: 8px
                            margin-left: 3em
                            margin-right: 3em
                            //border-radius: 10px
                            //box-shadow: 0 0 32px darken($gray-300, 5%)
                            &.active
                                transform: scale(1.8)

                    .carousel-inner
                        //top: 6em
                        //margin-top: 5%
                        .carousel-item img
                            width: 100%
                            //height: 400px
    
           
    .doap-index-card
        border: 1px solid $gray-400
        border-radius: calc(1rem + 1px)
        color: $gray-900
        box-shadow: 0 0 32px darken($gray-300, 5%)
        overflow: hidden
    .row.form-container
        padding: 0 100px
        form.contact-form, form.thanks-form
            width: 100%
            padding: 30px 40px
            box-shadow: 0 3px 40px rgba(8, 48, 80, 0.1)
            border-radius: 4px
            z-index: 2
            background-color: #fff
            margin-top: -80px
            margin-bottom: 78px
        form.thanks-form
            min-height: 500px
            p 
                margin-top: 200px
    .pro_content
        display: flex
        flex-direction: column;
        justify-content: center;
        padding-bottom: 200px;
    .pro_image
        width: 100%;
        // float: right;
    .member_image
        background-color: $gray-200
        padding-top: 15px;
        padding-bottom: 5px;

    .member_content
        // background-color: $gray-100;
        display: flex;
        flex-direction: column
        align-content: center
        align-items: center
        p
            margin-bottom: 0

.welcome
    th
        // min-width: 150px;
    td 
        // min-width: 150px;
