<% content_for :title, 'Tutorial Analysis' %>


            <div class="row">
                <nav id="sidebar" class="active">
                    <div class="sidebar-content">
                        <div>
                            <a href="/tutorial">
                            <p>
                            <i class="fa fa-arrow-left"></i>Back
                            </p>
                            </a>
                        </div>

                        <div class="">
                            <a href="/tutorial/database/1">
                            <p>Database documentation
                            </p>
                            </a>
                        </div>
                        <div class="">
                            <a href="/tutorial/analysis/1">
                            <p>Analysis documentation
                            </p>
                            </a>
                        </div>
                        <div class="active">
                            <a href="/tutorial/analysis/4">
                            <p>Help
                            </p>
                            </a>
                        </div>
                    </div>
                </nav>


                <div class="col-md-8 offset-1">
                <br><br>
                    <div>

                        <h1 class ="title">
                            <a href="/tutorial"><i class="fa fa-backward"></i></a>How to ask us for help
                        </h1><br>
                        <div class="page">
                            <div>
                                <div class="headers">
                                    <h1>Team</h1>
                                    <p>Based in City University of Hong Kong, led by Dr. Shuaicheng LI, we are a multidisciplinary group of top-ranking and aspiring undergraduates, research assistants and Ph.D. students working tirelessly to bring you a brand-new experience in bioinformatics research that frees you from all the chores and empowers your journey of discovery.</p>
                                        <div class="team-member-container">
                                            <div class="team-member-links"><a class="link" href="https://www.cityu.edu.hk/stfprofile/shuaicli.htm"><i
                                                        class="fas fa-home"></i></a><a class="link link-m" 
                                                    href="mailto:shuaicli@cityu.edu.hk"><i class="fas fa-envelope"></i></a></div>
                                            <div class="team-member"><img alt="Dr. LI Shuaicheng" class="avatar"
                                                    src="/public/data/image/tutorial/boss.jpg">
                                                <div class="intro">
                                                    <h2>Dr. LI Shuaicheng</h2>
                                                    <h5>Supervisor</h5>
                                                    <p>Supervisor</p>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class='row'>
                                            <div class="col-md-5">
                                                <h3>Contact Us</h3>
                                                <p>Dr LI, Shuaicheng</p>
                                                <p>Tat Chee Avenue, Kowloon, Hong Kong</p>
                                                <p>Email: <a href="mailto:shuaicli@cityu.edu.hk">shuaicli@cityu.edu.hk</a></p>
                                            </div>


                                            
                                            <div class="col-md-7">
                                                <h3>About Us</h3>
                                                <p>Creating An Integrated Cloud-based System for Bioinformatics Visualization is our passion.</p>
                                                <p><a href="/terms">Privacy Policy</a></p>
                                            </div>
                                        </div>
                                </div>

                            </div>
                            <br><br>
    

                        </div>      
                    </div>
                </div>
            </div>