<% content_for :title, 'Tutorial Database' %>

            <div class="row">
                <nav id="sidebar" class="active">
                    <div class="sidebar-content">
                        <div>
                            <a href="/tutorial">
                            <p>
                            <i class="fa fa-arrow-left"></i>Back
                            </p>
                            </a>
                        </div>
                        <div>
                            <a href="/tutorial/database/1">
                            <p>Introduction
                            </p>
                            </a>
                        </div>
                        <div class="sidebar-tutorial-toggle">
                            <a href="#">
                            <p>Usage &nbsp<i class="fa fa-angle-down" id="arrow"></i>
                            </p>
                            </a>
                            <ul id="side-tutorial-bar" class="">
                                <a href="/tutorial/database/2"><li  >How to View Database Information</li></a>
                                <a href="/tutorial/database/3"><li class="active1">How to Add Data to Your Workspace</li></a>
                                <a href="/tutorial/database/4"><li>How to Download Database Data</li></a>
                                <a href="/tutorial/database/5"><li>How to View the Visualizations</li></a>
                                <a href="/tutorial/database/6"><li>How to Download the Visualizations</li></a>
                            </ul>
                        </div>
                        <div class="">
                            <a href="/tutorial/analysis/1">
                            <p>Analysis  documentation
                            </p>
                            </a>
                        </div>
                        <div class="">
                            <a href="/tutorial/analysis/4">
                            <p>Help
                            </p>
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="col-md-8 offset-1">
                    <br><br>
                    <div>

                        <h1 class ="title">
                            <a href="/tutorial"><i class="fa fa-backward"></i></a>  How to add TIMEDB database data to your workspace
                        </h1><br>
                        <div class="page">
                            <div>
                                <div class="headers">
                                    <h1>You can check your dataset in workspace</h1>
                                    <p>TIMEDB provides function that user can create their own dataset from multiple projects.</p>
                                    <p>User may upload their dataset data for analysis.</p>
                                    <img src="/public/data/image/tutorial/3-1ppt.png" class="page-image">
                                    <br>
                                    <h1>Add samples to your dataset </h1><br>
                                    <h2>Directly add samples from the dataset page.</h2>
                                    <p>Click Edit Dataset and Go add samples, it will jump to Samples page.</p>
                                    <p>Then, select samples and export them to your dataset.</p>
                                    <img src="/public/data/image/tutorial/3-2ppt.png" class="page-image">
                                    <img src="/public/data/image/tutorial/3-3ppt.png" class="page-image">
                                    <br>
                                    <h2>Also, you can add samples from a specify project.</h2>
                                    <img src="/public/data/image/tutorial/3-4ppt.jpg" class="page-image">


                                </div>
                                
                            </div>
                            <br><br></br>
                        </div>

                    </div>
                </div>
            </div>