<% content_for :title, 'Tutorial Database' %>

            <div class="row">
                <nav id="sidebar" class="active">
                    <div class="sidebar-content">
                        <div>
                            <a href="/tutorial">
                            <p>
                            <i class="fa fa-arrow-left"></i>Back
                            </p>
                            </a>
                        </div>
                        <div class="active">
                            <a href="/tutorial/database/1">
                            <p>Introduction
                            </p>
                            </a>
                        </div>
                        <div class="sidebar-tutorial-toggle">
                            <a href="#">
                            <p>Usage &nbsp<i class="fa fa-angle-down" id="arrow"></i>
                            </p>
                            </a>
                            <ul id="side-tutorial-bar" class="">
                                <a href="/tutorial/database/2" ><li>How to View Database Information</li></a>
                                <a href="/tutorial/database/3"><li>How to Add Data to Your Workspace</li></a>
                                <a href="/tutorial/database/4"><li>How to Download Database Data</li></a>
                                <a href="/tutorial/database/5"><li>How to View the Visualizations</li></a>
                                <a href="/tutorial/database/6"><li>How to Download the Visualizations</li></a>
                            </ul>
                        </div>
                        <div class="">
                            <a href="/tutorial/analysis/1">
                            <p>Analysis  documentation
                            </p>
                            </a>
                        </div>
                        <div class="">
                            <a href="/tutorial/analysis/4">
                            <p>Help
                            </p>
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="col-md-8 offset-1">
                
                    <br><br>
                    <h1 class ="title">
                            <a href="/tutorial"><i class="fa fa-backward"></i></a> Database Introduction
                        </h1><br>
                    <div id ="box" class="page">
                    
                    </div>
                    <script> document.getElementById("box").innerHTML= window.gon.text</script>

                </div>
            </div>