    <% content_for :title, 'Tutorial Database' %>

            <div class="row">
                <nav id="sidebar" class="active">
                    <div class="sidebar-content">
                        <div>
                            <a href="/tutorial">
                            <p>
                            <i class="fa fa-arrow-left"></i>Back
                            </p>
                            </a>
                        </div>
                        <div>
                            <a href="/tutorial/database/1">
                            <p>Introduction
                            </p>
                            </a>
                        </div>
                        <div class="sidebar-tutorial-toggle">
                            <a href="#">
                            <p>Usage &nbsp<i class="fa fa-angle-down" id="arrow"></i>
                            </p>
                            </a>
                            <ul id="side-tutorial-bar" class="">
                                <a href="/tutorial/database/2"><li>How to View Database Information</li></a>
                                <a href="/tutorial/database/3"><li>How to Add Data to Your Workspace</li></a>
                                <a href="/tutorial/database/4"><li>How to Download Database Data</li></a>
                                <a href="/tutorial/database/5"><li  class="active1">How to View the Visualizations</li></a>
                                <a href="/tutorial/database/6"><li>How to Download the Visualizations</li></a>
                            </ul>
                        </div>
                        <div class="">
                            <a href="/tutorial/analysis/1">
                            <p>Analysis  documentation
                            </p>
                            </a>
                        </div>
                        <div class="">
                            <a href="/tutorial/analysis/4">
                            <p>Help
                            </p>
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="col-md-8 offset-1">

                    <br><br>

                    <div>

                        <h1 class ="title">
                            <a href="/tutorial"><i class="fa fa-backward"></i></a> How to view the  visualization plots of project and sample
                        </h1><br>
                        <div class="page">
                            <div>
                                <div class="headers">
                                    <h1>You can view the visualizations plot of each Project</h1>
                                    <p>The visualizations we provide are interactive, you can use the editor to do some personal change.</p>
                                    <h2> "C1_C6 subtyping overview": visualization about immune subtype of tumor samples.</h2>
                                    <img src="/public/data/image/tutorial/5-1ppt.png" class="page-image">
                                    <img src="/public/data/image/tutorial/5-2ppt.png" class="page-image">
                                    <br>
                                    <h2>"TIME estimation overview": visualization about TIME estimation.</h2>
                                    <img src="/public/data/image/tutorial/5-3ppt.png" class="page-image">
                                    <img src="/public/data/image/tutorial/5-4ppt.png" class="page-image">
                                </div>
                            </div>
                            <br><br>
                        </div> 

                    </div>
                </div>
            </div>