<% content_for :head do %>




<%end%>
<% content_for :title, "Overview" %>

<div class = "index-banner">
    <div class = "container">
    <h1 class = "display-4 font-weight-bold">
        Database Overview
    </h1>
    </div>
    
</div>
<br>


<div id="head" class="container Block">

    
    <div class="row">
        <div class="col">
            <div class="ov-number">
                <%= @cnum %>
            </div>
            <div class="ov-type">
                Cancer types
            </div>
            
            
        </div>
        <div class="col">
            <div class="ov-number">
                <%= @pnum %>
                
            </div>
            <div class="ov-type">
                Projects
            </div>
            
            
        </div>

        <div class="col">
            <div class="ov-number">
                <%= @snum %>
                
            </div>
            <div class="ov-type">
                Samples
            </div>
            
           
        </div>

        <div class="col">
            <div class="ov-number">
                9
                
            </div>
            <div class="ov-type">
                TIME estimation tools
            </div>
            
            
        </div>

        <div class="col">
            <div class="ov-number">
                69
            </div>
            <div class="ov-type">
                Immune cell types
            </div>
        </div>

        <div class="col">
            <div class="ov-number">
                C1 - C6
            </div>
            <div class="ov-type">
                Subtypes
            </div>
        </div>
    </div>
    <br/>
</div>
<div class = "container Block"> 


<!-- to be deleted
<h2>Sample distribution</h2>
<div id = "world-map" class = "container Block"> </div>
</div>
up to here -->

<br />
<hr />
<section id = "cancer_icon">
    <h2>Cancer Type</h2>
    <div id = "cancerIcons" class="collapse" aria-expanded="false" class = "container-fluid container">
        <div class = "row cols-xs-space cols-sm-space cols-md-space text-center">            
                <% @singleCancers.each do |cc| %>
                    <div class = "col-lg-2 col-lg-offset-1 mb-4">
                        <div data-toggle="tooltip" data-html="true" title= '
                        <div class="row">
                            <% @cancer_attrs.each do |attr| %>
                            <% if attr != "id" && attr != "created_at" && attr != "updated_at"%>
                                <div class="col-md-12">
                                    <strong><%=attr%>: </strong>
                                    <%= cc[attr] %>
                                </div>
                            <% end %>
                            <% end %>
                        </div>
                        '> 
                        <%= link_to cc do %>
                            <%= image_tag(cc.cancer_type + ".png", class: "rounded-circle z-depth-2") %>
                        <% end %>
                        </div>
                        <h4> <%= cc.cancer_name %> </h4>
                    </div>
                <% end %>
                
                    <div class = "col-lg-2 col-lg-offset-1 mb-4">
                        <div data-toggle="popover" data-html="true" title="Cancers List" data-content= ' 
                        <ul>
                        <% @kidneyCancers.each do |kc| %>
                            <li><%= link_to kc.cancer_name, kc %></li>
                        <% end %>
                        </ul>
                        '> 
                        <div data-toggle="tooltip" data-html="true" title= '
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>cancer_name: </strong>
                                    WT;CCSK;KICH;KIRC;KIRP
                                </div>

                                <div class="col-md-12">
                                    <strong>cancer_type: </strong>
                                    Wilms Tumor;Clear Cell Sarconma of the Kidney;Kidney Chromophobe;Kidney Renal Clear Cell Carcinoma;Kidney Renal Papillary Cell Carcinoma
                                </div>

                                <div class="col-md-12">
                                    <strong>data_source: </strong>
                                    TCGA;GEO;TARGET
                                </div>

                                <div class="col-md-12">
                                    <strong>primary_site: </strong>
                                    Kidney
                                </div>
                            </div>
                        '> 
                        <%= image_tag("kidney.png", class: "rounded-circle z-depth-2") %> 
                        </div>

                        </div>
                        <h4> Kidney</h4>
                    </div>


                <div class = "col-lg-2 col-lg-offset-1 mb-4">
                        <div  " title="Cancers List"  data-html="true" data-toggle="popover" title="" data-content= ' 
                        <ul>
                        <% @leukemiaCancers.each do |lc| %>
                            <li><%= link_to lc.cancer_name, lc %></li>
                        <% end %>
                        </ul>
                        '> 
                        <div data-toggle="tooltip" data-html="true" title= '
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>cancer_name: </strong>
                                    AML;CML;ALL;CLL
                                </div>

                                <div class="col-md-12">
                                    <strong>cancer_type: </strong>
                                    Acute Myeloid Leukemia;Chronic Myelogenous Leukemia;Acute lymphocytic leukemia;chronic lymphocytic leukemia
                                </div>

                                <div class="col-md-12">
                                    <strong>data_source: </strong>
                                    TCGA;GEO;TARGET
                                </div>

                                <div class="col-md-12">
                                    <strong>sub_cancer: </strong>
                                    Myeloid Leukemias
                                </div>

                                <div class="col-md-12">
                                    <strong>primary_site: </strong>
                                    Hematopoietic and reticuloendothelial systems
                                </div>
                            </div>
                        '> 
                        <%= image_tag("Leukemia.png", class: "rounded-circle z-depth-2") %> 
                        </div>
                        </div> 
                        <h4> Leukemia</h4>
                </div>
                <div class = "col-lg-2 col-lg-offset-1 mb-4">
                    <% cancer_other = Cancer.find_by(cancer_type: "Other") %>
                    <%= link_to cancer_other do %>
                    <div data-toggle="tooltip" data-html="true" title= '
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>cancer_name: </strong>
                                    OTHERS
                                </div>

                                <div class="col-md-12">
                                    <strong>cancer_type: </strong>
                                    Other
                                </div>

                                <div class="col-md-12">
                                    <strong>data_source: </strong>
                                    GEO
                                </div>

                                <div class="col-md-12">
                                    <strong>primary_site: </strong>
                                    Uterus, NOS
                                </div>
                            </div>
                        '> 
                        
                        <%= image_tag("other.png", class: "rounded-circle z-depth-2") %>
                        </div>
                    <% end %>
                    
                    <h4> <%= "Others" %> </h4>
                </div>
                <div class = "col-lg-2 col-lg-offset-1 mb-4">
                        <h1> . . . </h1>
                </div>
        </div>
        <div id="test"></div>
    </div>
    <div>
        <div id = "collapseButton" role="button" class="collapsed" data-toggle="collapse" href="#cancerIcons" aria-expanded="false" aria-controls="cancerIcons"></div>
    <div>
</section>
<hr />

<section id ="species_icon">
    <h2>Species Type</h2>

    <% @species_all.each do |s|%>
        <div>
        <%if(s.species_name != 'mouse')%>
        <button class='btn btn-1'> <%= link_to(s.species_name, "/species/#{s.id}") %> </button>
        <% else %>
                <%= link_to s do %>
                    <%= image_tag(s.species_name + ".png", class: " z-depth-2 ", style: "width:100px;height:100px") %>

                <% end %>
                                                        <h4> &nbsp&nbsp&nbsp<%= s.species_name %> </h4>

        <% end %>
        </div>
        <br><br>
    <%end %>
</section>

<section id ="tissue_icon">
    <h2>Tissue Type</h2>

    <% @tissue_all.each do |t|%>
        <div style="margin: 15px">
        <button class='btn btn-1'> <%= link_to(t.tissue_name, "/tissues/#{t.id}") %> </button>
        </div>
    <%end %>
</section>
<br />
<section id ="disease_icon">
    <h2>Disease Type</h2>

    <% @disease_all.each do |t|%>
        <div style="margin: 15px">
        <button class='btn btn-1'> <%= link_to(t.disease_name, "/diseases/#{t.id}") %> </button>
        </div>
    <%end %>
</section>


<h2> Database overview visualization</h2>

<div id ="vapp-database" class = "mb-8">
</div>
                        